body {
    background-image: url('C:\Users\karth\OneDrive\Desktop\HTML\media\ebbackground.jpg');
    background-size: cover; /* You can adjust this property based on your needs */
    background-repeat: no-repeat;
    background-position: center center;
  }
  