#Link{
    font-family: 'Courier New', Courier, monospace;
    font-style: ;
    font-display: ;
    text-decoration:none;
}

a:visited{
    color: rgb(0, 0, 0);
}

a:link{
    color: blue;
}
a:hover{
    color: whitesmoke;
}
a:active{
    color: crimson;
}
a:focus{
    color: darkred; 
}

body{
    background-color: blue;
    color: aliceblue;
}
