.redbox{
    width: 400px;
    height: 280px;
    background-color: red;

}
.whitebox{
    width: 200px;
    height: 180px;
    background-color: black;
    position: relative;
    left:100px;
    bottom: 230px;
}